@{
    Layout = "_ConfigurePlugin";
}

@model ConfigurationModel
@using Nop.Plugin.Payments.BrainTree.Models;
@using Nop.Web.Framework.Models.DataTables

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentBrainTree" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandBox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandBox" />
                        <span asp-validation-for="UseSandBox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PrivateKey_OverrideForStore" asp-input="PrivateKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PrivateKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PrivateKey" />
                        <span asp-validation-for="PrivateKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PublicKey_OverrideForStore" asp-input="PublicKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PublicKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PublicKey" />
                        <span asp-validation-for="PublicKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Use3DS_OverrideForStore" asp-input="Use3DS" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Use3DS" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Use3DS" />
                        <span asp-validation-for="Use3DS"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseMultiCurrency_OverrideForStore" asp-input="UseMultiCurrency" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseMultiCurrency" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseMultiCurrency" />
                        <span asp-validation-for="UseMultiCurrency"></span>
                    </div>
                </div>
                <div class="content" id="pnlUseMultiCurrency">
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "brain-tree-grid",
                                UrlRead = new DataUrl("GetCurrencies", "PaymentBrainTree", null),
                                UrlUpdate = new DataUrl("UpdateCurrency", "PaymentBrainTree", null),
                                SearchButtonId = "search-settings",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(CurrencyModel.CurrencyCode))
                                    {
                                        Title = T("Plugins.Payments.BrainTree.Currency.Fields.CurrencyCode").Text,
                                        Width = "300",
                                        EditType = EditType.String
                                    },
                                    new ColumnProperty(nameof(CurrencyModel.MerchantAccountId))
                                    {
                                        Title = T("Plugins.Payments.BrainTree.Currency.Fields.MerchantAccountId").Text,
                                        Width = "300",
                                        Editable = true,
                                        EditType = EditType.String
                                    },
                                    new ColumnProperty(nameof(CurrencyModel.Id))
                                    {
                                        Title = T("Admin.Common.Edit").Text,
                                        Width = "200",
                                        ClassName = NopColumnClassDefaults.Button,
                                        Render = new RenderButtonsInlineEdit()
                                    }
                                }
                            })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.UseMultiCurrency)").click(toggleUseMultiCurrency);
        toggleUseMultiCurrency();
    });

    function toggleUseMultiCurrency() {
        if ($('#@Html.IdFor(model => model.UseMultiCurrency)').is(':checked')) {
            $('#pnlUseMultiCurrency').show();
            updateTable($('#brain-tree-grid'));
        }
        else {
            $('#pnlUseMultiCurrency').hide();
        }
    }
</script>